.frame {
    padding: 40px;
}

.title {
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0;
    font-family: Hind;
    line-height: 48px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #7c86a2;
    font-family: Hind;
}

.description-semi-bold {
    font-family: Hind;
    font-weight: 600;
}

.gray-link {
    color: #7c86a2;
    text-decoration: underline;
}

.gray-link:hover, .gray-link:focus {
    color: #7c86a2;
}

.alert-box {
    background-color: #e5ebf0;
    padding: 16px 24px;
    margin: 40px 0;
    border-radius: 4px;
}

.alert-icon {
    width: 24px;
    height: 40px;
    object-fit: contain;
}

.alert-description {
    width: calc(100% - 24px);
    float: right;
    display: inline-block;
    padding-left: 16px;
}

.frame .sub-title {
    font-family: Hind;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 16px;
}

.custom-input-group {
    width: 100%;
    padding: 15px 15px 13px 15px;
    ;
    border-radius: 4px;
    border: solid 1px #e9e9e9;
    background-color: #ffffff;
}

.custom-textarea {
    resize: none;
}

.custom-textarea:focus {
    outline: none;
}

.custom-input-group .md-input {
    width: calc(100% - 30px);
    display: inline-block;
    font-family: Hind;
    font-size: 16px;
    height: 24px;
    border: none;
}

.custom-input-group .md-input.md-textarea {
    height: auto;
}

.custom-input-group .md-input input:focus {
    outline: none;
}

.custom-input-group-icon {
    display: inline-block;
    float: right;
}

.invoice-img {
    display: none;
    position: absolute;
    bottom: 43px;
    right: -108px;
    z-index: 2;
}

.custom-input-group-icon:hover .invoice-img {
    display: block;
}

.md-input {
    position: relative;
}

.md-input .md-form-control {
    font-size: 16px;
    display: block;
    border: none;
    box-shadow: none;
    width: 100%;
    margin-top: 5px;
}

.md-input label {
    color: #7c86a2;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input .md-form-control:focus~label, .md-input .md-form-control:valid~label {
    top: -10px;
    font-size: 14px;
    color: #7c86a2;
}

.border-none {
    border: none!important;
}

.disable-btn {
    border-radius: 4px;
    background-color: #e5ebf0;
    width: 100%;
    height: 56px;
    font-family: Hind;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a9b3bb;
    border: none;
}

.secondary-btn {
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    height: 56px;
    font-family: Hind;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #475f70;
    border: 1px solid #475f70;
}

.disable-btn.active {
    background-color: #475F70;
    color: #ffffff;
}

.disable-btn:focus {
    outline: none;
}

.invoice-pay-btn {
    border-radius: 4px;
    background-color: #ff3636;
    padding: 10px;
    width: 100%;
    color: #ffffff;
    font-family: Hind;
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-top: 13px;
    cursor: pointer;
}

.invoice-title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #e5ebf0;
    padding: 24px;
    margin-top: 40px;
}

.detail-label {
    color: #7c86a2;
    font-family: Hind;
    font-size: 14px;
    margin: 0;
    line-height: 24px;
}

.detail-price {
    font-family: Hind;
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    line-height: 42px;
}

.invoice-detail {
    padding: 40px;
    border: solid 1px #e5ebf0;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.detail-item-label {
    font-family: Hind;
    font-size: 14px;
    color: #7c86a2;
    margin: 0;
    line-height: 24px;
    margin-bottom: 4px;
}

.detail-item-value {
    font-family: Hind;
    font-size: 16px;
    color: #000000;
    margin: 0;
    line-height: 24px;
}

/* request page css */

.request-container {
    background-color: #f9f9f9;
    padding: 32px 0;
}

.correct-box {
    background-color: #2ecc70;
    padding: 16px 24px;
    border-radius: 4px;
    color: #ffffff;
}

.correct-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.correct-description {
    padding-left: 16px;
    font-size: 14px;
    font-family: Hind;
    display: inline;
}

.subscription {
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 40px 96px;
    margin: 16px 0;
}

.subscription-header {
    border-bottom: 1px solid #e5ebf0;
    padding-bottom: 15px;
    margin-bottom: 24px;
}

.subscription .title {
    font-family: Hind;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    line-height: 32px;
}

.subscription .sub-title {
    font-family: Hind;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 32px;
}

.subscription-description {
    font-family: Hind;
    font-size: 12px;
    line-height: 1.5;
    color: #7c86a2;
    margin: 0;
}

.thin-font {
    font-weight: 300;
}

.bold-font {
    font-weight: 600;
}

.section-line {
    border-bottom: 1px solid #e5ebf0;
    margin-bottom: 16px;
    margin-top: 23px;
}

.yellow-circle-number {
    width: 32px;
    height: 32px;
    background-color: #ffd522;
    float: left;
    display: block;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    font-family: Hind;
}

.dask-description {
    margin: 23px 0 40px 0;
    font-family: Hind;
    font-size: 16px;
    line-height: 1.5;
    color: #7c86a2;
}

.check-icon {
    float: right;
    display: none;
}

.check-icon.show {
    display: inline;
}

.dask-number {
    display: block;
}

.dask-number.hide {
    display: none;
}

.signature-item {
    text-align: center;
    border-radius: 4px;
    border: solid 1px #e5ebf0;
    padding: 32px 24px;
    cursor: pointer;
}

.signature-item:hover {
    background-color: #ffd522;
}

.signature-item img {
    width: 64px;
    height: 64px;
}

.signature-sub-title {
    font-family: Hind;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    padding: 15px 0 5px 0;
    line-height: 24px;
    margin: 0;
}

.signature-description {
    font-family: Hind;
    font-size: 14px;
    text-align: center;
    color: #7c86a2;
    display: block;
}

.selected-signature img {
    width: 64px;
    height: 120px;
}

.address-box {
    padding: 32px 24px;
    border-radius: 4px;
    border: solid 1px #e5ebf0;
    margin-top: 10px;
    height: 164px;
    cursor: pointer;
}

.address-box:hover {
    background-color: #ffd522;
}

.address-box h1 {
    font-family: Hind;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 10px 0;
}

.address-box span {
    font-family: Hind;
    font-size: 16px;
    line-height: 1.38;
    color: #000000;
}

.address-box-btn {
    line-height: 100px;
}

.address-text {
    font-family: Hind;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin: 0 0 15px 0;
}

.p-r-0 {
    padding-right: 0px;
}

.m-t-24 {
    margin-top: 24px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.p-t-b-15 {
    padding: 15px 0;
}